@import "./../_variables.scss";
@import "./../_mixins.scss";

/* FLOATING MESSAGE */
.floating-message{
    padding:1rem;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.14), 0px 3px 4px 0px rgba(0,0,0,0.12), 0px 1px 8px 0px rgba(0,0,0,0.20);
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    @include border-radius($border-radius);
    background-color: #fff;
}
.floating-message__message{
    @include text-color-gray-scale(1);
    text-align: justify;
    font-weight: lighter;
    margin-bottom: 1rem;
}
/* /FLOATING MESSAGE */