@import "./../_mixins.scss";

/* SECTION MESSAGE */
.section--message{
    margin-top: 1rem;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}
.section--message__container{
    text-align: center;
}
.section--message__container__message{
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include text-color-gray-scale(2);
}
/* /SECTION MESSAGE */
