/* Fuente */

$font-size: 16px;
$font-family: "Proxima Nova",Helvetica,Arial,sans-serif;

/* /Fuente */

/* Paleta de colores */

/* Amarillo */
$color-primary: #FFE600;
/* Azul */
$color-secondary: #3483FA;
/* Gris claro */
$color-light-gray-color: #eee;
/* Verde */
$color-free-shipping: #1ed760;

$background-section-color: #fff;

/* /Paleta de colores */

$search-bar-height: 36px;

$border-radius: 4px;

$item-thumb-width: 180px;
$item-thumb-height: 180px;

$item-image-width: 680px;
$item-image-height: auto;

$content-width: 940px;

/* Iconos */

$logo-icon-src: "Logo_ML";
$logo-icon-width: 53px;
$logo-icon-height: 36px;

$search-icon-src: "ic_Search";
$search-icon-width: 18px;
$search-icon-height: 18px;

$shipping-icon-src: "ic_shipping";
$shipping-icon-width: 18px;
$shipping-icon-height: 18px;
